<div class="jumbotron">
    <h1>Carga de Productos</h1>
    <form action="/api/productos" method="post">
        <label for="nombreProd">nombre:</label>
        <input type="text" name="nombreProd">
        <button class="btn btn-success" type="submit">cargar</button>
    </form>
</div>
<a href="vistaProductos">ir a lista de productos</a>